<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.map"></script>

    <script type="text/javascript" src="https://www.boletobancario.com/boletofacil/wro/direct-checkout.min.js"></script>
</head>
<body>

<div class="container">
    <form style="padding-top: 20px; padding-bottom: 20px" id="formcheckout">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" readonly="readonly" id="nome" required="required" style="height: 40px;">
            </div>

            <div class="form-group col-md-6">
                <label for="email">Email:</label>
                <input type="text" class="form-control" readonly="readonly" id="email" required="required" style="height: 40px;">
            </div>
        </div>

        <div class="form-row" id="linha1cartao">
            <div class="form-group col-md-6">
                <label for="numerocartao">Número do cartão:</label>
                <input type="text" placeholder="4554.4545.5454.5454" class="form-control" id="numerocartao" required="required" style="height: 40px;">
            </div>

            <div class="form-group col-md-6">
                <label for="nomecartao">Nome como escrito no cartão:</label>
                <input type="text" placeholder="joão da silva" class="form-control" id="nomecartao" required="required" style="height: 40px;">
            </div>
        </div>

        <div class="form-row" id="divcpf">
            <div class="form-group col-md-12">
                <label for="cpf">CPF do titular:</label>
                <input type="text" placeholder="000.000.000-00" class="form-control" id="cpf" required="required" style="height: 40px;">
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
       var checkout = new DirectCheckout('PUBLIC_TOKEN');
</script>

</body>
</html>